<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">iPadazzle</a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/Bundles.html" | relative_url }}">Bundles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/Stickers.html" | relative_url }}">Stickers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/£5things.html" | relative_url }}">Things under £5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/cable.html" | relative_url }}">Cable accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/ipad.html" | relative_url }}">iPad accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/pen.html" | relative_url }}">iPad pen accessories</a>
        </li>
        <li class="nav-item dropdown" id="myDropdown">
          <a class="nav-link dropdown-toggle" href="{{ "/Bundles.html" | relative_url }}" data-bs-toggle="dropdown">|||</a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" href="{{ "/contactus.html" | relative_url }}">Contact us</a></li>
            
            <li><a class="dropdown-item" href="{{ "/Locations.html" | relative_url }}">Locations</a></li>
          </ul>
        </li>
        <span class="navbar-text"></span>
      </ul>
    </div>
  </div>
</nav>
